.show-cart li {
    display: flex;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}

.price-text{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-shadow: 2px 1px #14a44d;
}

.btn-add{
    color: #14a44d;
    background-color: transparent;
    border: 2px ridge #14a44d;
}

.btn-add:hover {
    color: #FFEBEE;
    background-color: #14a44d;
}

.table td img{
    height: 20%;
}

.delete-item{
    cursor: pointer;
}